table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #3ae4cd;
}

tr:nth-child(even) {
    background-color: rgb(166, 247, 179);
}

tr:nth-child(odd) {
    background-color: rgb(102, 150, 240);
}

.bar {
    background-image: url('green.png');
    height: 20px;
    display: block;
    margin-top: 5px;
}

h1 {
    color: rgb(204, 117, 18);
}

.container {
    background-color: rgb(64, 80, 226);
    border-radius: 20px;
}